# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [48]:
#your code here
import pandas as pd 
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [49]:
#your code here
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/pandas-videos/refs/heads/master/data/chipotle.tsv')

### 3) See the first 10 entries

In [50]:
#your code here
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [51]:
#your code here
chipo.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [52]:
#your code here
chipo.shape[1]

5

### 6) Print the name of all the columns.

In [53]:
#your code here
for i in chipo.columns:
    print(i)

order_id
quantity
item_name
choice_description
item_price

### 7) Which was the most-ordered item?

In [63]:
#your code here
chipo.item_name.value_counts().idxmax()

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [65]:
#your code here
chipo.item_name.value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

### 9) What was the most ordered item in the choice_description column?

In [68]:
#your code here
chipo.choice_description.value_counts().idxmax()

'[Diet Coke]'

### 10) How many items were ordered in total?

In [66]:
#your code here
chipo.quantity.sum()

4972

### 11) Turn the item price into a float

In [58]:
#your code here
chipo.item_price= chipo.item_price.str.replace('$',"")
chipo.item_price=chipo.item_price.astype(float)

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [61]:
#your code here
(chipo.item_price * chipo.quantity).sum()

39237.02

### 13) How many orders were made in the period?

In [36]:
#your code here
chipo.order_id.nunique()

1834

### 14) What is the average revenue amount per order?

In [62]:
#your code here
(chipo.item_price * chipo.quantity).sum()/chipo.order_id.nunique()

21.39423118865867

### 15) How many different items are sold?

In [37]:
#your code here
chipo.item_name.nunique()

50